/* width */

.dx-scrollable-scroll-content {
    width: 100%;
    height: 100%;
    background-color: rgba(191, 191, 191, .7);
    -webkit-box-shadow: 0 0 0 1px transparent;
    box-shadow: 0 0 0 1px transparent;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: #F8F8F8;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    /* background: rgb(204, 204, 204); */
    background: #CBCCCF;
    border-radius: 2px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    /* background: rgb(204, 204, 204); */
    background: #B0B1B4;
}