.customize-table-user {
    position: fixed;
    top: 175px;
    right: 10px;
    z-index: 100;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.height-36 {
    height: 36px;
}

.customize-table-user.ms-popup {
    min-width: 316px;
    width: 316px;
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
    color: var(--text-primary-color);
}

.customize-title--span {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .324px;
    color: var(--text-primary-color);
}

.ms-popup--customize {
    min-height: 108px;
    height: 108px;
    padding: 16px;
}

.p-b-8 {
    padding-bottom: 8px !important;
}

.p-b-12 {
    padding-bottom: 12px;
}

.list-customize-column {
    padding-left: 16px;
    border-bottom: 1px solid var(--border-color);
    height: 250px;
    overflow: auto
}

.item-customize {
    position: relative;
    padding: 1px 0 0 32px;
}

.icon-customize-column {
    cursor: all-scroll;
    width: 24px;
    height: 24px;
    -webkit-mask-position: -488px -1px;
    /* background-color: var(--icon-deault-color); */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(../../../assets/img/Icon_process.1401a69c.svg);
}

.check-box-disable {
    opacity: 0.5;
}

.list-group-item:hover .icon-customize-column {
    background-color: var(--icon-deault-color);
}

.ms-footer-custom.ms-popup-footer {
    background: #f1f5f9;
    padding: 12px 20px 12px 0;
}

.item-checkbox-custom {
    padding: 8px;
    height: 42px
}

.top--2 {
    top: -2px;
}

.lable-role-width {
    margin-top: 2px;
    width: 180px;
}