@import url("layout/nav.css");
@import url("layout/menu.css");
@import url("layout/content.css");
@import url("base/selectbox.css");
@import url("base/scrollbar.css");
@import url("./view//user/tableuser.css");
@import url("base/pagination.css");
@import url("base/popup.css");
@import url("base/button.css");
@import url("./view/user/userdetail.css");
@import url("base/checkbox.css");
@import url("./view/user/adduser.css");
@import url("base/dropdown.css");
@import url("./view/user/customizetable.css");
@import url("./base/bloading.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* @import url("base/tableuser.css"); */


/* @font-face {
    font-family: inherit;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: italic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
    font-family: regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: semibold;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
} */

body,
html {
    width: 100%;
    height: 100%;
    /* font-family: regular !important; */
}

body {
    color: #2c3e50 !important;
    margin: 0;
    padding: 0;
    background: #f4f5f8;
    overflow-x: auto;
    min-width: 1366px;
    overflow-y: hidden;
    /* font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px; */
    font-size: 14px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --button-primary-normal-bg-color: #02a3ec;
    --button-primary-color: #fff;
    --button-primary-normal-border-color: #02a3ec;
    --border-color: #e7e8e9;
    --input-hover-border-color: #02a3ec;
    --text-primary-color: #171b2a;
    --icon-deault-color: #686c7b;
    --dropdown-item-hover: #eff1f6;
}

.main-right {
    transition: padding .2s;
    height: calc(100vh - 56px);
    background-color: #f5f8f9;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.main-view {
    min-width: 500px;
    min-height: 500px;
    height: 100%;
}

.main-content {
    height: 100%;
    margin-left: -6px;
}